*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.book{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
   border-bottom: 1px solid rgb(14, 119, 161); 
}
.book .logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.items ul{
    display: flex;
}
.items li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 15px 30px;
    display: flex;
    font-size: 11px;
    text-transform: uppercase;
    color: brown;
}
.items li:hover{
    color:rgb(176, 105, 105);
    cursor: pointer; 
}
.top{
list-style: none;
}
.tap {
background: url(hotelsss.jpeg);
width: 1500px;
height: 400px;
margin-left: 0;
margin-right: 50px;
margin-bottom: 40px;
object-fit: cover;
}
.tom{
    text-align: center;
    
}
.tom h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
}
.tom p {
    color:brown;
    margin-left: 600px;
}
.find{
    background-color: rgb(155, 123, 123);
    display: flex;
    border-radius: 10px;
    padding: 10px;
    height: 200px;
    margin-top: 20px;
    justify-content: space-between;
}
.nom{
    padding-top: 30px;
    background-color: rgb(142, 108, 108);
    border-radius: 20px;
    width: 300px;
    height: 160px;
}
.nom:hover{
    border-color:white ;
    background-color: transparent;
}
.nom p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 20px;
    color: rgb(6, 6, 6);
}
.ill p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    margin-left:40px ;
    margin-top: 30px;
    color: black;
}
.men{
    border-bottom: 2px solid rgb(155, 123, 123);
    margin-top: 50px;
}
.men2{
    border-bottom: 2px solid rgb(4, 4, 4);
    margin-top: 30px;
}
.men3{
    border-bottom: 2px solid rgb(155, 123, 123);
    margin-top: 35px;
}
.wook{
    margin-top: 40px;
}
.wook p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(155, 123, 123);
    font-size: 28px;
}
.mruno{
    display: flex;
    background-color: rgb(254, 252, 252);
}

.tomy{
    background-image: url(sea\ view.jpeg);
    height: 160px;
    width: 300px;
    margin-left:  100px;
    margin-top: 50px;
    padding: 30px 20px;
    border-radius: 16px;
    background-position: center;
    object-fit: cover;
    
    justify-content: baseline;
    align-items: center;
    text-align: center;

}
.tomy h3{
    font-size: 20px;
    color:rgb(155, 123, 123);
    margin-top: 210px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
.tomy button{
    border: transparent;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
    background-color: transparent;
    color: gold;
    cursor: pointer;
    border-radius: 5px;
}
.tomy button:hover{
    border: gold;
    color: rgb(250, 246, 246);
    background-color: transparent;
    transition: 0.3s; 
}
.tomy p{
    
    
color: rgb(4, 4, 4);
font-size: 10px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bomy{
    background-image: url(spa.webp);
    height: 160px;
    width: 300px;
    margin-left:  15px;
    margin-top: 50px;
    padding: 30px 20px;
    background-repeat: no-repeat;
    border-radius: 16px;
    
    background-position: center;
    object-fit: cover;
    
    justify-content: center;
    align-items: center;
    text-align: center;

}
.bomy h3{
    font-size: 20px;
    color: rgb(7, 7, 7);
    margin-top: 210px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bomy button{
    border: transparent;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
    background-color: transparent;
    color: gold;
    cursor: pointer;
    border-radius: 5px;
}
.bomy button:hover{
    border: gold;
    color: rgb(250, 246, 246);
    background-color: transparent;
    transition: 0.3s; 
}
p{
    
    display: flex;
color: rgb(10, 10, 10);
font-size: 10px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.somy{
    background-image: url(pools.jpeg);
    height: 160px;
    width: 300px;
    margin-left:  15px;
    margin-right: 100px;
    margin-top: 50px;
    padding: 30px 20px;
    background-repeat: no-repeat;
    
    object-fit: cover;
    background-position: center;
    border-radius: 16px;
    
    justify-content: center;
    align-items: center;
    text-align: center;

}
.somy h3{
    font-size: 20px;
    color: rgb(155, 123, 123);
    margin-top: 210px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.somy button{
    border: transparent;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
    background-color: transparent;
    color: gold;
    cursor: pointer;
    border-radius: 5px;
}
.somy button:hover{
    border: gold;
    color: rgb(250, 246, 246);
    background-color: transparent;
    transition: 0.3s; 
}
p{
    
    display: flex;
color: rgb(8, 8, 8);
font-size: 10px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
